#page-orphanages {
  width: 100vw;
  height: 100vh;

  position: relative;
  display: flex;
}

#page-orphanages aside {
  width: 440px;
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);

  padding: 80px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#page-orphanages aside header {
  max-width: 240px;
}

#page-orphanages aside h2 {
  margin-top: 80px;
  font-size: 32px;
  font-weight: 800;
}

#page-orphanages aside p {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 600;
}

#page-orphanages aside footer {
  display: flex;
  flex-direction: column;

  line-height: 24px;
}

#page-orphanages aside footer strong {
  font-weight: 800;
}

#page-orphanages .leaflet-container {
  z-index: 5;
}

#page-orphanages a.creacte-orphanage {
  position: absolute;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  bottom: 40px;
  right: 40px;

  width: 64px;
  height: 64px;

  background: #15c3d6;
  border-radius: 20px;

  transition: background-color 0.4s;
}

#page-orphanages a.creacte-orphanage:hover {
  background: #17d6eb;
}

#page-orphanages a.creacte-orphanage svg {
  color: #fff;
  transition: background-color 0.2s;
}

#page-orphanages a.creacte-orphanage:hover svg {
  color: #ffd666;
}
